<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>模板生成网站</title>
  <link rel="stylesheet" href="/public/css/index.css">
  <link rel="stylesheet" href="/public/css/reset.css">
</head>
<body>
<nav>
  <a class="icon" href="#">
    <img src="/public/images/2.png" alt="logo"
         style="width: auto; height: 35px; margin-left: 10px">
  </a>
  <a class="active" href="#">首页</a>
  <a class="active" href="#example-anc">模版中心</a>
</nav>

<div id="container">
  <div id="background-pic">
    <img src="/public/images/bg.jpg" style="width: 100%; height: 100vh;">
  </div>
  <div id="start"><a href="#example-anc">开始使用</a></div>
  <div id="example-anc"></div>
  <div id="templet_lib">
    <a href="/edit" class="templet templet_1">
      <div class="templet_icon icon_1">
        <img src="/public/images/01.jpeg" alt="模版一"
             style="width: 100%; height: 100%"/>
      </div>
      <div class="description">
        <p class="description-title title_1">个人简历</p>
        <p class="description-content">在线编辑免费制作个人简历</p>
      </div>
    </a>
    <a class="templet templet_2">
      <div class="templet_icon icon_2">
        <img src="/public/images/02.jpg" alt="模版一"
             style="width: 100%; height: 100%"/>
      </div>
      <div class="description">
        <p class="description-title title_1">个人简历</p>
        <p class="description-content">在线编辑免费制作个人简历</p>
      </div>
    </a>
    <a class="templet templet_3">
      <div class="templet_icon icon_3">
        <img src="/public/images/03.jpg" alt="模版一"
             style="width: 100%; height: 100%"/>
      </div>
      <div class="description">
        <p class="description-title title_1">个人简历</p>
        <p class="description-content">在线编辑免费制作个人简历</p>
      </div>
    </a>
    <a class="templet templet_4">
      <div class="templet_icon icon_4">
        <img src="/public/images/04.jpg" alt="模版一"
             style="width: 100%; height: 100%"/>
      </div>
      <div class="description">
        <p class="description-title title_1">个人简历</p>
        <p class="description-content">在线编辑免费制作个人简历</p>
      </div>
    </a>
    <div class="templet templet_5">
      <div class="templet_icon icon_5">
        <img src="/public/images/05.jpg" alt="模版一"
             style="width: 100%; height: 100%"/>
      </div>
      <div class="description">
        <p class="description-title title_1">个人简历</p>
        <p class="description-content">在线编辑免费制作个人简历</p>
      </div>
    </div>
    <a class="templet templet_6">
      <div class="templet_icon icon_6">
        <img src="/public/images/06.jpg" alt="模版一"
             style="width: 100%; height: 100%"/>
      </div>
      <div class="description">
        <p class="description-title title_1">个人简历</p>
        <p class="description-content">在线编辑免费制作个人简历</p>
      </div>
    </a>
  </div>
</div>
<footer class="footer">©copyright reserved 2018</footer>
</body>
</html>