<div class="template">
  <header class="commonWidth" data-edit='{"edit-top-list":"头部修改"}'>
    <ul class="edit-top-list">
      <li>登陆注册</li>
      <li>收藏本站</li>
      <li>联系我们</li>
    </ul>
  </header>
  <nav class="commonWidth"
       data-edit='{"edit-image-image":"logo图片","edit-nav-list":"导航栏目"}'>
    <div class="wrap">
      <div><img class="edit-image-image" src="../images/logo.png"></div>
      <ul class="edit-nav-list">
        <li>菜单1</li>
        <li>菜单2</li>
        <li>菜单3</li>
        <li>菜单4</li>
        <li>菜单5</li>
        <li>菜单6</li>
      </ul>
    </div>
  </nav>
  <div class="banner commonWidth" data-edit='{
      "edit-banner-images":"banner图片1"}'>
    <div id="my-slider" class="slider-list">
      <ul class="edit-banner-images">
        <li class="slider-list__item--selected">
          <img class="edit-banner1-image" src="../images/banner1.jpg"/>
        </li>
        <li class="slider-list__item">
          <img class="edit-banner2-image" src="../images/banner2.jpg"/>
        </li>
        <li class="slider-list__item">
          <img class="edit-banner3-image" src="../images/banner3.jpg"/>
        </li>
      </ul>
    </div>
  </div>
  <div class="tit_box commonWidth" data-edit='{"edit-title1-text":"标题"}'>
    <h1 class="edit-title1-text">环境</h1>
  </div>
  <div class="tabs_wrap commonWidth"
       data-edit='{"edit-tabs1-image":"tabs1图片","edit-tabs2-image":"tabs2图片","edit-tabs3-image":"tabs3图片"}'>
    <div class="tabs">
      <div class="img">
        <img class="edit-tabs1-image" src="../images/pic1.jpg">
      </div>
      <div class="img">
        <img class="edit-tabs2-image" src="../images/pic2.png">
      </div>
      <div class="img">
        <img class="edit-tabs3-image" src="../images/pic3.jpg">
      </div>
    </div>
  </div>
  <div class="content_img commonWidth"
       data-edit='{"edit-contentBg-image":"背景图","edit-contentTit-text": "编辑","edit-post-textarea":"内容内容内容"}'>
    <img class="edit-contentBg-image" src="../images/picture1.jpg">
    <div class="text">
      <div class="wrap">
        <h3 class="edit-contentTit-text">编辑</h3>
        <p class="textarea edit-post-textarea">
          编辑文字编辑文字编辑文字编写点什么写点什么
        </p>
      </div>
    </div>
  </div>
  <div class="tit_box commonWidth" data-edit='{"edit-title2-text":"标题"}'>
    <h1 class="edit-title2-text">服务</h1>
  </div>
  <div class="tabs_wrap commonWidth"
       data-edit='{"edit-tabs4-image":"tabs1图片","edit-tabs5-image":"tabs2图片","edit-tabs6-image":"tabs3图片","edit-tabs1-text": "文字编辑","edit-tabs2-text": "文字编辑","edit-tabs3-text":"文字编辑"}'>
    <div class="tabs">
      <div class="sticky">
        <div class="content">
          <img class="edit-tabs4-image" src="../images/picture1.jpg">
        </div>
        <div class="mask">
          <div class="text edit-tabs1-text">专业</div>
        </div>
      </div>
      <div class="sticky">
        <div class="content">
          <img class="edit-tabs4-image" src="../images/pic2.png">
        </div>
        <div class="mask">
          <div class="text edit-tabs2-text">舒心</div>
        </div>
      </div>
      <div class="sticky">
        <div class="content">
          <img class="edit-tabs4-image" src="../images/pic2.png">
        </div>
        <div class="mask">
          <div class="text edit-tabs3-text">安心</div>
        </div>
      </div>
    </div>
  </div>
  <footer class="commonWidth" data-edit='{"edit-adress-text":"地址",
    "edit-province-text":"省","edit-city-text":"市",
    "edit-area-text":"县区","edit-road-text":"路/街道",
    "edit-number-text":"街号","edit-tel-text":"电话",
    "edit-qq-text":"qq联系","edit-eMail-text":"邮箱"
    }'>
    <div class="adress">
      <p class="tit"><span class="edit-adress-text">地址</span></p>
      <p class="tit""><span class="line">—</span></p>
      <p><font><span class="edit-province-text">XXX</span>省<span
          class="edit-city-text">XXX</span><span>市</span></font></p>
      <p><font><span class="edit-area-text">XXX</span>县<span
          class="edit-road-text">XXX</span>路<span
          class="edit-number-text">XXX</span>号</span></font><br/></p>
    </div>
    <div class="contact">
      <p class="tit"><span>联系我们</span></p>
      <p class="tit"><span class="line">—</span></p>
      <p><strong><span>T</span></strong><span>.</span><span><font
          class="edit-tel-text">020-000000</font></span></p>
      <p><strong><span>Q</span></strong><span>.</span><span><font
          class="edit-qq-text">130000000</font></span></p>
      <p><strong><span>E</span></strong><span>.</span><span><font
          class="edit-eMail-text">contact@jhhhh.com</font></span></p>
    </div>
    <div class="concern">
      <div>
        <p class="tit"><span>关注我们</span></p>
        <p class="tit"><span class="line">—</span></p>
        <div class="icons">
          <div class="icon"><img
              src="http://10865046.s61i.faiusr.com/2/AD0IlpOXBRACGAAg2YyfvgUoiaatygUwMjgy.jpg">
          </div>
          <div class="icon"><img
              src="http://10865046.s61i.faiusr.com/4/AD0IlpOXBRAEGAAg2IyfvgUohISmvgcwMjgy.png">
          </div>
          <div class="icon"><img
              src="http://10865046.s61i.faiusr.com/2/AD0IlpOXBRACGAAg1YyfvgUordryKjAyODI.jpg">
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
