<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>网站编辑</title>
    <link rel="stylesheet" type="text/css" href="/public/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/public/css/edit.css">
    <!--插入模版CSS-->
    <link rel="stylesheet" type="text/css" href="<%= data.style %>">
</head>

<body>
<header id="header">
    <a class="icon" href="#">
        <img src="/public/images/web-icon.png" alt="logo" style="width: auto; height: 35px; margin-left: 10px">
    </a>
    <span class="title">编辑网站</span>
    <button class="btn btn-finish" type="button">生成网站</button>
</header>

<main class="container">
    <% if (data.type === "commerce"){%>
        <%- include("/templates/commerce/commerce.ejs") %>
    <%} else if(data.type === "resume"){%>
      <%- include("/templates/resume/resume.ejs") %>
    <%}%>
    <!-- 编辑控制块 -->
    <aside class="edit-container">
        <p class="edit"></p>
    </aside>
</main>
<script src="/public/js/jquery.min.js"></script>
<script src="/public/js/edit.js"></script>

<!--插入模版JS-->
<script src="<%= data.script %>"></script>
</body>

</html>